@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

html {
  color-scheme: light dark;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  user-select: none;
}

body, h1, p {
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 20px;
}

a {
  color: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

header {
  letter-spacing: 2px;
  text-align: center;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.social-media {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.social-media a {
  margin: 10px;
  opacity: 0.6;
  text-decoration: none;
  transition: opacity 0.2s ease;
}

.social-media a:hover {
  opacity: 1;
}